
h1{
    text-align: center;
    padding-top:4vh ;
    padding-bottom:1vh ;
    font-family: "Libre Franklin";
    color: rgb(238, 226, 222);
    margin: auto;
}
p{
    text-align: center;
    padding-top:1vh;
    
    font-family: "Libre Franklin";
    color: rgb(238, 226, 222);
}
body{
  background-image: linear-gradient(
    to bottom,
    rgb(43, 42, 76 , .9),
    rgb(179, 19, 18 , .5)
  ), url("DJI_0439.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;

}
/* Gradient transparent - color - transparent */

hr {
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(148, 59, 59), rgba(0, 0, 0, 0));
}

/* ===== FOR DEMO ===== */
.demo {
  height: 40vh; 
  width: 1500px;
  margin: 0 auto;  
}

.demo-card{
  background: linear-gradient(180deg, rgb(183, 182, 207) 0% ,rgb(43, 42, 76) 0% , rgb(179, 19, 18 , .7) 100%);
  border-radius: 30px;
  box-shadow: 10px 10px 15px -15px rgba(0,0,0,0.9);  
  height:300px;
  width:355px;  
 
}
/* ===== FOR DEMO ===== */

/* ===== MAIN CODE ===== */
.content {
    
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  transition: all 0.4s;
}

.card-hghlght {
  pointer-events: auto;
  transform: scale(1);
  transition: all 0.7s;
  margin-right: 20px;
}

.card-hghlght:hover {
  opacity: 1;
  
  transform: scale(1.1);
  
}


.content:hover .card-hghlght:not(:hover) {
  opacity: 0.50;
  transform: scale(0.7);
}
/* ===== MAIN CODE ===== */



/* CSS */
.button-35 {
 
  background-color: rgb(179, 19, 18 , .6);
  border-radius: 20px;
  box-shadow: transparent 0 0 0 10px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: rgb(238, 226, 222);
  cursor: pointer;
  
  flex: 1 1 auto;
  font-family: "Libre Franklin";
  font-size: 1rem;
  font-weight: 700;
  
  line-height: 1;
  margin-top: 30px;
  margin-left: 103px;
  outline: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.button-35:hover {
  box-shadow: rgb(179, 19, 18 , 1) 0 0 0 3px, transparent 0 0 0 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}